<li>
 "<%= test_passage.test.title %>",
  <% if test_passage.completed? %>
    <%= t(".completed") %>, <%= test_passage.result %> %.
  <% else %>
    <%= link_to t('.continue'), test_passage_path(test_passage) %>
  <% end %>
</li>
