<h1>The "<%= @test_passage.test.title %>" Test was completed</h1>
<p>
  Questions answered correctly: <%= @test_passage.correct_questions %> out of
  <%= @test_passage.test.questions.count %>, <%= @test_passage.result %> %<br>
  <% if @test_passage.success? %>
    <p class='success'>You have passed the test.</p>
  <% else %>
    <p class='failure'>Test failed.</p>
  <% end %>
</p>
