<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <%= link_to t('app.tests'), tests_path, class: 'nav-item nav-link' %>
        <%= link_to t('app.test_passages'), test_passages_path, class: 'nav-item nav-link' %>
    </div>
  </div>
</nav>
