<% if user_signed_in? %>
  <div class="nav user">
    <%= t('app.welcome', name: current_user.first_name) %> 
    (<%= link_to t('app.logout'), :destroy_user_session, method: :delete %>)
  </div>
<% end %>
